{% extends "base.html" %}

{% block title %} Lista de investigaciones {% endblock %}

{% block content %}

<div class="btn-group" role="group">
  <a href="{% url 'investigacion_lista' %}" class="btn btn-secondary">Todos</a>
  <a href="{% url 'investigacion_lista_categoria' 'Ciencias Computacionales' %}" class="btn btn-secondary" >Ciencias Computacionales</a>
  <a href="{% url 'investigacion_lista_categoria' 'Ciencias de la Tierra' %}" class="btn btn-secondary">Ciencias de la Tierra</a>
  <a href="{% url 'investigacion_lista_categoria' 'Ciencias Naturales' %}" class="btn btn-secondary">Ciencias Naturales</a>
  <a href="{% url 'investigacion_lista_categoria' 'Ciencias Sociales' %}" class="btn btn-secondary">Ciencias Sociales</a>
  <a href="{% url 'investigacion_lista_categoria' 'Ciencias Medicas' %}" class="btn btn-secondary">Ciencias Medicas</a>
  <a href="{% url 'investigacion_nuevo' %}" class="btn btn-primary">Nuevo</a>
</div>

<br/>
<br/>

<table class="table">
  <thead>
    <th>DOI</th>
    <th>Autor</th>
    <th>Titulo</th>
    <th>Categoria</th>
    <th>PDF</th>
  </thead>
  <tbody>
    {% for investigacion in investigaciones %}
    <tr>
      <td>{{ investigacion.doi }} </td>
      <td>{{ investigacion.investigador.titulo }} {{ investigacion.investigador.apellidos }} {{ investigacion.investigador.nombre }} </td>
      <td>{{ investigacion.titulo }} </td>
      <td>{{ investigacion.categoria }} </td>
      <td><a href="/media/{{ investigacion.archivo }}">PDF</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}