{% extends "base.html" %}

{% block title %} Registro de investigación {% endblock %}

{% block content %}

{% if message %}
<div class="alert alert-danger" role="alert">
  {{ message }}
</div>
{% endif %}

<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="reset">Cancelar</button>
  <button type="submit">Guardar</button>
</form>

{% endblock %}