{% extends "base.html" %}

{% block title %} Inicio {% endblock %}

{% block content %}

<div class="jumbotron text-center">
  <a class="btn btn-primary btn-lg" href="{% url 'investigacion_lista' %}" role="button">Investigación</a>
  <a class="btn btn-primary btn-lg" href="{% url 'software_lista' %}" role="button">Software</a>
</div>


<div class="jumbotron text-center">
     <a class="btn btn-secondary btn-lg" href="{% url 'iniciar_sesion' %}">Iniciar sesión</a>
     <a class="btn btn-secondary btn-lg" href="{% url 'registro' %}">Registrarse</a>
</div>

{% endblock %}