{% extends "base.html" %}

{% block title %} Lista de software {% endblock %}

{% block content %}

<a href="{% url 'departamento_nuevo' %}" class="btn btn-primary">Nuevo departamento</a>
<a href="{% url 'software_nuevo' %}" class="btn btn-primary">Nuevo software</a>

<br />
<br />

<form method="GET" class="form-inline">
  <div class="form-group">
    <select name="tipo" class="form-control">
      <option value="nombre" selected="selected">Nombre</option>
      <option value="funcion">Función</option>
      <option value="departamento">Departamento</option>
    </select>
    <input type="text" name="buscar" placeholder="Buscar" class="form-control">
    <button type="submit" class="btn btn-primary">Buscar</button>
  </div>
</form>

<br />

<table class="table">
  <thead>
    <th>Nombre</th>
    <th>Función</th>
    <th>Departamento</th>
  </thead>
  <tbody>
    {% for software in software_lista %}
    <tr>
      <td>{{ software.nombre }}</td>
      <td>{{ software.funcion }}</td>
      <td>{{ software.departamento }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}