{% extends "base.html" %}

{% block title %} Registro de software {% endblock %}

{% block content %}

{% if message %}
<div class="alert alert-danger" role="alert">
  {{ message }}
</div>
{% endif %}

<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="reset">Cancelar</button>
  <button type="submit">Registrar</button>
</form>

{% endblock %}